@font-face {
    font-family: "Courier New";
    src: url("fonts/courier.tff")
}

*{
    box-sizing: border-box;
}
a{
    background-color: lightgray;
}
a:hover{
    background-color: white;
}
body{
    font-family: "Courier New", serif;
}
#figlet-welcome{
    font-size: 1.1vw;
}
.center{
    text-align: center;
}
.col-main{
}
#contacts{
    font-family: chicago;
    font-weight: bold;
    font-size: 0.8em;
}
#contacts .btn{
    width: 180px;
}
.heading{
    font-size: 3rem;
}
.layout{
    display: flex;
    justify-content: space-around;
}
.socials{
    width: 20px;
    vertical-align: bottom;
}
.standard-dialog p{
    font-size: 1.2em;
}

@media screen and (max-width: 1050px) {
    .layout {
	flex-wrap: wrap;
    }
}
/* div.window{ */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*     width: 70%; */
/* } */
