@font-face {
    font-family: "Courier New";
    src: url("//db.onlinewebfonts.com/t/72c75860d89e91a517dfb1e7d308c180.eot");
    src: url("//db.onlinewebfonts.com/t/72c75860d89e91a517dfb1e7d308c180.eot?#iefix") format("embedded-opentype"),
	 url("//db.onlinewebfonts.com/t/72c75860d89e91a517dfb1e7d308c180.woff2") format("woff2"),
	 url("//db.onlinewebfonts.com/t/72c75860d89e91a517dfb1e7d308c180.woff") format("woff"),
	 url("//db.onlinewebfonts.com/t/72c75860d89e91a517dfb1e7d308c180.ttf") format("truetype"),
	 url("//db.onlinewebfonts.com/t/72c75860d89e91a517dfb1e7d308c180.svg#Courier New") format("svg");
}

*{
    box-sizing: border-box;
}
a{
    background-color: lightgray;
}
a:hover{
    background-color: white;
}
body{
    font-family: "Courier New", serif;
}
#figlet-welcome{
    font-size: 1.3vw;
}
.center{
    text-align: center;
}
.col-main{
}
#contacts{
    font-family: chicago;
    font-weight: bold;
    font-size: 0.8em;
}
#contacts .btn{
    width: 180px;
}
.heading{
    font-size: 3rem;
}
.layout{
    display: flex;
    justify-content: space-around;
}
.socials{
    width: 20px;
    vertical-align: bottom;
}
.standard-dialog p{
    font-size: 1.2em;
}

@media screen and (max-width: 850px) {
    .layout {
	flex-wrap: wrap;
    }
}
/* div.window{ */
/*     margin-left: auto; */
/*     margin-right: auto; */
/*     width: 70%; */
/* } */
