.statname{
    background-color: #7FFFD4;
}
.col1 {
    background-color :#9932CC;
    color: white;
}
.bigtext {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    font-size: 2em;
}
h1{
    font-family : 'Rowdies', cursive;
    font-size: 4em;
    color: #8B0000;
}
h2{
    background-color: #90EE90;
    font-weight: bold;
    font-size: 2.2em;
}    
.list-group-item{
    font-weight: bold;
    font-size: 1.5em;
}
.lub{
    font-weight: normal;
    font-size: 0.76em;
}
.active{
    background-color: #F08080;
} 
.bg-dark{
  background-color: purple;  
  color: antiquewhite;
}
.card-body{
    box-sizing: border-box;
}   
.navbar{
    background-color: #a3d360;
}